.fa-lightbulb::before { content: "\f0eb"; }
.fa-lightbulb-on::before { content: "\f672"; }
.fa-lightbulb-slash::before { content: "\f673"; }
.fa-light-switch-on::before { content: "\e019"; }
.fa-light-switch-off::before { content: "\e018"; }
.fa-light-emergency::before { content: "\e41f"; }
.fa-light-emergency-on::before { content: "\e420"; }
.fa-bolt::before { content: "\f0e7"; }
.fa-fire::before { content: "\f06d"; }
.fa-fire-flame-simple::before { content: "\e4f1"; }
.fa-eye::before { content: "\f06e"; }
.fa-eye-slash::before { content: "\f070"; }
.fa-volume-high::before { content: "\f028"; }
.fa-volume-low::before { content: "\f027"; }
.fa-volume-off::before { content: "\f026"; }
.fa-volume-xmark::before { content: "\f6a9"; }
.fa-bell::before { content: "\f0f3"; }
.fa-bell-slash::before { content: "\f1f6"; }
.fa-music::before { content: "\f001"; }
.fa-bullhorn::before { content: "\f0a1"; }
.fa-whistle::before { content: "\f460"; }
.fa-siren::before { content: "\e02d"; }
.fa-siren-on::before { content: "\e02e"; }
.fa-rotate-left::before { content: "\f2ea"; }
.fa-rotate-right::before { content: "\f2f9"; }
.fa-arrows-rotate::before { content: "\f021"; }
.fa-shuffle::before { content: "\f074"; }
.fa-arrow-up::before { content: "\f062"; }
.fa-arrow-down::before { content: "\f063"; }
.fa-arrow-left::before { content: "\f060"; }
.fa-arrow-right::before { content: "\f061"; }
.fa-forward::before { content: "\f04e"; }
.fa-forward-fast::before { content: "\f050"; }
.fa-backward-fast::before { content: "\f049"; }
.fa-stop::before { content: "\f04d"; }
.fa-hand::before { content: "\f256"; }
.fa-brake-warning::before { content: "\e0c7"; }
.fa-tire-pressure-warning::before { content: "\f633"; }
.fa-triangle-exclamation::before { content: "\f071"; }
.fa-circle-exclamation::before { content: "\f06a"; }
.fa-circle-xmark::before { content: "\f057"; }
.fa-circle-check::before { content: "\f058"; }
.fa-circle-info::before { content: "\f05a"; }
.fa-helmet-safety::before { content: "\f807"; }
.fa-gear::before { content: "\f013"; }
.fa-gears::before { content: "\f085"; }
.fa-fan::before { content: "\f863"; }
.fa-wrench::before { content: "\f0ad"; }
.fa-hammer::before { content: "\f6e3"; }
.fa-screwdriver-wrench::before { content: "\f7d9"; }
.fa-engine-warning::before { content: "\f5f2"; }
.fa-compress::before { content: "\f066"; }
.fa-vent-damper::before { content: "\e465"; }
.fa-filter::before { content: "\f0b0"; }
.fa-steering-wheel::before { content: "\f622"; }
.fa-wind-turbine::before { content: "\f89b"; }
.fa-flux-capacitor::before { content: "\f8ba"; }
.fa-industry::before { content: "\f275"; }
.fa-oil-can::before { content: "\f613"; }
.fa-oil-can-drip::before { content: "\e205"; }
.fa-oil-temperature::before { content: "\f614"; }
.fa-gas-pump::before { content: "\f52f"; }
.fa-droplet::before { content: "\f043"; }
.fa-water::before { content: "\f773"; }
.fa-gauge-min::before { content: "\f628"; }
.fa-gauge-low::before { content: "\f627"; }
.fa-gauge::before { content: "\f624"; }
.fa-gauge-high::before { content: "\f625"; }
.fa-gauge-max::before { content: "\f626"; }
.fa-gauge-simple-min::before { content: "\f62d"; }
.fa-gauge-simple-low::before { content: "\f62c"; }
.fa-gauge-simple::before { content: "\f629"; }
.fa-gauge-simple-high::before { content: "\f62a"; }
.fa-gauge-simple-max::before { content: "\f62b"; }
.fa-dial-min::before { content: "\e161"; }
.fa-dial-low::before { content: "\e15d"; }
.fa-dial-med-low::before { content: "\e160"; }
.fa-dial-med::before { content: "\e15f"; }
.fa-dial::before { content: "\e15b"; }
.fa-dial-high::before { content: "\e15c"; }
.fa-dial-max::before { content: "\e15e"; }
.fa-dial-off::before { content: "\e162"; }
.fa-meter::before { content: "\e1e8"; }
.fa-meter-bolt::before { content: "\e1e9"; }
.fa-meter-droplet::before { content: "\e1ea"; }
.fa-meter-fire::before { content: "\e1eb"; }
.fa-sliders::before { content: "\f1de"; }
.fa-sliders-up::before { content: "\f3f1"; }
.fa-temperature-empty::before { content: "\f2cb"; }
.fa-temperature-quarter::before { content: "\f2ca"; }
.fa-temperature-three-quarters::before { content: "\f2c8"; }
.fa-temperature-full::before { content: "\f2c7"; }
.fa-temperature-high::before { content: "\f769"; }
.fa-temperature-low::before { content: "\f76b"; }
.fa-thermometer::before { content: "\f491"; }
.fa-heat::before { content: "\e00c"; }
.fa-train::before { content: "\f238"; }
.fa-train-subway::before { content: "\f239"; }
.fa-train-track::before { content: "\e453"; }
.fa-train-tunnel::before { content: "\e454"; }
.fa-tower-control::before { content: "\e2a2"; }
.fa-plug::before { content: "\f1e6"; }
.fa-power-off::before { content: "\f011"; }
.fa-check::before { content: "\f00c"; }
.fa-xmark::before { content: "\f00d"; }
.fa-flag::before { content: "\f024"; }
.fa-star::before { content: "\f005"; }
.fa-lock::before { content: "\f023"; }
.fa-unlock::before { content: "\f09c"; }
.fa-snowflake::before { content: "\f2dc"; }
.fa-wind::before { content: "\f72e"; }
.fa-smoke::before { content: "\f760"; }
.fa-wind-warning::before { content: "\f776"; }
.fa-clock::before { content: "\f017"; }
.fa-stopwatch::before { content: "\f2f2"; }
.fa-timer::before { content: "\e29e"; }
.fa-key::before { content: "\f084"; }
.fa-camera::before { content: "\f030"; }
.fa-house::before { content: "\f015"; }
